{% extends "paginas/base.html"%} {% block titulo %} Editar producto {%endblock%} {% block contenido %}
<div class="card">
  <div class="card-header">
    <h4>Eliminar el producto</h4>
  </div>
  <div class="card-body">
    <p>
      ¿Estás seguro de que deseas eliminar el stock de
      <strong>{{ item.stock_item_id.item_name }}</strong>?
    </p>
    <form method="post">
      {% csrf_token %}
      <button type="submit">Sí, eliminar</button>
      <a href="{% url 'productos' %}">Cancelar</a>
    </form>
  </div>
  <div class="card-footer text-muted">Footer</div>
</div>

{% endblock%}
