.container {
  display: grid;
  place-items: center;
  height: 80vh;
}

.image{
    width: 65%;
    margin-bottom: 20px;
}

.text-title {
  font-size: 1.5rem;
  color: #374151;
  font-weight: 500;
  text-align: center;
}
